<section class="section">
    <div class="container">
        <span class="title pb-3"><a href="/login">Ir a Inicio</a></span>
        <div class="columns is-centered pt-5">
            <h1 class="title is-4">Página no encontrada</h1>
        </div>
    </div>
</section>