<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <h1 class="title">Iniciar Sesión</h1>
                <form id="loginForm">
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" type="email" name="email" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="password" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Ingresar</button>
                        </div>
                        <div class="control">
                            <a class="button is-light" href="/api/sessions/github">
                                <i class="fab fa-github"></i>&nbsp;Ingresar con Github</a>
                        </div>
                        <div class="control">
                            <a class="button is-light" href="/register">Registrarse</a>
                        </div>
                    </div>
                </form>
                <div class="pt-5">
                    <a href="/forgot-password"> ¿Olvidaste tu contraseña?</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/login.js"></script>