<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-4">
                <h1 class="title">Restablecer contraseña</h1>


                <form action="/api/sessions/reset-password/{{token}}" method="POST">
                    <div class="field">
                        <label for="password" class="label">Nueva contraseña:</label>
                        <input type="password" name="password" id="password" class="input" required>
                    </div>
                    <div class="field">
                        <label for="confirmPassword" class="label">Confirmar contraseña:</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="input" required>
                    </div>
                    <button type="submit" class="button is-link">Reset Password</button>
                </form>
                {{#if errorMessage}}
                <div class="pt-3">{{errorMessage}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</section>